body {
  overflow: hidden;
}

.container {
  min-height: calc(100vh - 70px); 
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
}

.image {
  max-width: 400px;
  width: 70%;
}

.bg {
  display: block;
  position: absolute;
  width: 820px;
  height: 446px;
  left: 546px;
  top: 247px;
  
  background: conic-gradient(from 199.48deg at 46.31% 45.03%, #201580 -41.48deg, #E54EAB 184.69deg, #09FBD3 232.93deg, #201580 318.52deg, #E54EAB 544.69deg);
  filter: blur(203.534px);
  z-index: -1;
}


.title {
  width: 400px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 36px; 
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.title span {
  color: rgba(255, 255, 255, 0.8);
}

.typing {
  display: block;
}

.home {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.titleMobile {
  display: none;
  width: 400px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 36px; 
  line-height: 56px;
  text-align: center;
  z-index: 1;
  margin: 5px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 720px) {
  .home {
    flex-direction: column;
    justify-content: space-evenly;
  }

  body {
    overflow-y: auto;
  }

  .title {
    width: 300px;
  }

  /* .typing {
    display: none;
  } */

  /* .titleMobile {
    display: block;
  } */

  .container {
    background-image: url('../assets/bg.svg');
    background-position: 35% 0%;
    background-repeat: no-repeat;
  }

  .bg {
    display: none;
    left: 0;
    top: 350px;
  }
}
