body {
  overflow: hidden;
}

.container {
  min-height: calc(100vh - 70px); 
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.image img {
  width: 100%;
}

.image {
  position: relative;
  max-width: 400px;
  width: 70%;
}

.image::after {
  content: '';
  display: block;
  position: absolute;
  width: 442px;
  height: 226.55px;
  right: -100px;
  bottom: 25%;
  background: #08F7FE;
  filter: blur(209.709px);
  z-index: -1;
}

.image::before {
  content: '';
  display: block;
  position: absolute;
  width: 500.26px;
  height: 188.04px;

  left: -150px;
  top: 25%;

  background: #FE53BB;
  filter: blur(209.709px);
  z-index: -1;
}


.title {
  width: 400px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 36px; 
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.title span {
  color: rgba(255, 255, 255, 0.8);
}

.typing {
  display: block;
}

.home {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 720px) {
  .home {
    flex-direction: column;
    justify-content: space-evenly;
  }

  body {
    overflow-y: auto;
  }

  .title {
    width: 300px;
  }
}
