@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.header {
  position: fixed;
  width: 100%;
  height: 171px;
  font-family:'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 60px;
}

.navbar {
  width: 645px;
  height: 59.25px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 35.331459045410156px;
  width: 148.7640380859375px;
  left: 645px;
  top: 67.71910095214844px;
  border: double 3px transparent;
  border-radius: 20px;
  background-image: linear-gradient(#19191B, #19191B), linear-gradient(112.4deg, #FE53BB 29.63%, #09FBD3 76.7%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
}

.button svg {
  color: white !important;
}
