.container {
  display: flex;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 70px;
  z-index: 3;
}

.logo {
  /* WS */
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 75px;
  text-align: center;
  z-index: 4;

  /* Border NEON */
  background: linear-gradient(112.4deg, #FE53BB 29.63%, #09FBD3 76.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

.menu a {
  display: block;
  padding: .5rem;
  font-size: 700;

  /* web */
  width: 9rem;
  border-radius: 20px;
  text-align: center;
  position: relative;
  background: url('../assets/btn.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  transition: .6s;
  opacity: 1;
}

.menu a:hover {
  color: white !important;
  opacity: 0.7;
}

.mobile_toggle {
  display: none;
}

.nav {
  color: currentColor;
}

.active {
  color: currentColor;
}

@media (max-width: 720px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    margin: 0;
    width: 100%;
    padding-top: calc(30% + 70px);
    top: 0px;
    left: 0px;
    height: 0px;
    transition: .6s;
    z-index: 3;
    visibility: hidden;
    overflow-y: hidden;
  }

  .nav.active .menu {
    height: 100vh;
    visibility: visible;
    background: rgba(79, 79, 79, 0.1);
    background-blend-mode: overlay;
    backdrop-filter: blur(19.9598px);
  }

  .menu a {
    display: block;
    text-align: center;
    padding: 1rem 0;
    margin: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background: none;
    border-radius: 0px;
    width: 95%;
  }

  .menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .mobile_toggle {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  .hamburguer {
    display: block;
    border-top: 2px solid;
    color: rgba(9, 251, 211, 1);
    width: 20px;
    z-index: 4;
  }

  .hamburguer::after, .hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .nav.active .hamburguer {
    border-top-color: transparent;
    color: rgba(254, 83, 187, 1);
  }

  .nav.active .hamburguer::before{
    transform: rotate(135deg);
  }
  .nav.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}